<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      th:replace="base/layout (title='index页面传参')">
<head>
</head>
<body>
<div th:fragment="content">
    <div style="margin-top: 100px;">
        <h4 class="card-title">Spring Boot Web Thymeleaf + Spring Security</h4>
        <ul class="list-group">
            <li class="list-group-item"><a th:href="@{/admin}" class="card-link">1. Visit Admin page (Spring Security
                protected, Need Admin Role)</a></li>
            <li class="list-group-item"><a th:href="@{/user}" class="card-link">2. Visit User page (Spring Security
                protected, Need User Role)</a></li>
            <li class="list-group-item"><a th:href="@{/about}" class="card-link">3. Visit Normal page</a></li>
        </ul>
    </div>
</div>
</body>
</html>